@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Gilroy';
  src:url('fonts/gilroy.ttf');
}
@font-face{
  font-family: 'Content';
  src:url('fonts/content.ttf');
}

body::-webkit-scrollbar {
  display: none;
}

body{
  background-color: black;
}