@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Gilroy';
  src:url('fonts/gilroy.ttf');
}
@font-face{
  font-family: 'Content';
  src:url('fonts/content.ttf');
}


body{
  background-color: black;
}